.nav_logo{
    width: 50px;
    margin-top: 0px;
    padding: 0px;
}
.navbar-brand,.navbar_logo_frame{
    width: 50px;
    margin: 0px;
    padding: 0px;
}
.main{
    background-color:#ffffff;
    margin: 10px auto;
    width: 1080px;
}


.nav_body{
    background-color: #1dffcc;
    margin-bottom: 10px;
}

body{
    background-color: #dcdcdc;
}

