.navbar-brand,.navbar_logo_frame{
    width: 50px;
    margin: 0px;
    padding: 0px;
}
.main{
    background-color:#ffffff;
    margin: 1% auto;
    width: 98%;
    padding: 1%;
    overflow: hidden;
}

body{
    background-color: #dcdcdc;
}


.nav-logo{
    float: left;
    height: 40px;
    margin-top: 5px;
    overflow: hidden;
}
.nav-logo a{
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }
}

.nav-logo {
    margin-left: 1%;
}


.page-title{
    text-align: center;
}