{% extends 'base.html' %}
{% block title %}首页{% endblock %}
{% block head %}
    <script type="text/javascript" src="../static/js/echarts.js"></script>
    <script type="text/javascript" src="../static/js/macarons.js"></script>
{% endblock %}
{% block main %}
<div id="chart_test" style=" width: 100%;">
    <script>
        var obj=document.getElementById('chart_test');
        var w=obj.offsetWidth;
        {#if (w<800)#}
        obj.style.height=(3/5*w)+"px";
        {#else#}
        {#    obj.style.height=400+"px";#}
        var mychart=echarts.init(document.getElementById('chart_test','macarons'));
        var option = {
            legend: {
                data: ['2015', '2016', '2017']
            },
            tooltip: {},
            xAxis: {
                type: 'category',
                data: ['Matcha Latte', 'Milk Tea', 'Cheese Cocoa', 'Walnut Brownie']
            },
            yAxis: {},
            series: [
                {
                    type: 'bar',
                    name: '2015',
                    data: [89.3, 92.1, 94.4, 85.4]
                },
                {
                    type: 'line',
                    name: '2016',
                    data: [95.8, 89.4, 91.2, 76.9]
                },
                {
                    type: 'bar',
                    name: '2017',
                    data: [97.7, 83.1, 92.5, 78.1]
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        mychart.setOption(option);
        window.onresize = mychart.resize;

    </script>
</div>

{% endblock %}